/* This is the animation code. */
@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 4;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   position: absolute;
   color: #ffcccc;
   font-size: 36px;
   animation-iteration-count: infinite;
}

/* This is the animation code. */
@-webkit-keyframes example2 {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

/* This is the element that we apply the animation to. */
.colorbox2 {
   -webkit-animation-name: example;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 4;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 50px;
   height: 400px;
   width: 400px;
   color: purple;
   opacity: .3;
   font-size: 36px;
   animation-iteration-count: infinite;
}

/* This is the element that we apply the animation to. */
.colorbox3 {
   -webkit-animation-name: example;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 4;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 50px;
   margin-bottom: 25px;
   height: 400px;
   width: 400px;
   color: purple;
   opacity: .3;
   font-size: 36px;
   animation-iteration-count: infinite;
}
/* This is the element that we apply the animation to. */
.colorbox4 {
   -webkit-animation-name: example;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 4;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 50px;
   margin-bottom: 25px;
   height: 400px;
   width: 400px;
   color: purple;
   opacity: .3;
   font-size: 36px;
   animation-iteration-count: infinite;
}
/* This is the element that we apply the animation to. */
.colorbox5 {
   -webkit-animation-name: example;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 4;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 50px;
   margin-bottom: 25px;
   height: 400px;
   width: 400px;
   color: purple;
   opacity: .3;
   font-size: 36px;
   animation-iteration-count: infinite;
}
/* This is the element that we apply the animation to. */
.colorbox6 {
   -webkit-animation-name: example;
   -webkit-animation-duration: 3s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 4;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 50px;
   margin-bottom: 25px;
   height: 400px;
   width: 400px;
   color: purple;
   opacity: .3;
   font-size: 36px;
   animation-iteration-count: infinite;
}
