#container{
	width: 1440px;
	height: 2000px;
	background-color: #383434;
	margin-top: -10px;
	margin-left: -10px;
}
#text {
	height: 50px;
	width: 300px;
	color: white;
	left: 100px;
	text-align: left;
	font-family: impact;
	font-size: 50px;
	position: absolute;
	z-index: 1;

}
#box1{
	top: 50px;
	left: 500px;
	position: absolute;
	z-index: 1;
}
#box2{
	top: 400px;
	left: 400px;
	position: absolute;
	z-index: 1;
}
#box3{
	top: 800px;
	left: 600px;
	position: absolute;
	z-index: 1;
}
#box4{
	top: 1150px;
	left: 400px;
	position: absolute;
	z-index: 1;
}
#home{
	top: 1800px;
	left: 800px;
	font-size: 30px;
	font-family: impact;
	position: absolute;
	z-index: 1;
}
/* unvisited link */
a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

